
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;

}

.exerciseMain {
	display:flex;

}

.exerciseMainContent {
	flex:4;
	justify-content: space-around;
	margin-right:10px;
	height:300px;

}


.exerciseMainAside {
	flex:2;
	justify-content: space-around;

}